<h1 class="center white-text"><%= @board.name %></h1>
<hr>
<ol class="center white-text">
<% @songs.each do |song| %>
  <li>
    <%= song.name %>
    -
    <%= song.artist.name %>
    <br>
    <br>
  </li>

<% end %>
</ol>

<div class="center">
  <h5><%= button_to 'Add A Song', new_board_song_path, method: :get %></h5>
</div>

<hr>
<h4 class="center"><%= button_to 'Back', boards_path, method: :get %></h4>
