<h2 class="center white-text">Edit Chart</h2>
<hr>
<div class="container white">
  <%= form_for @board do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <div class="center blue-text">
      <%= f.submit %>
    </div>
  <% end %>
</div>
<hr>
<h4 class="center blue-text"><%= button_to 'Back', boards_path, method: :get,  class: "btn waves-effect waves-light grey darken-3" %></h4>
